[submodule "hugo-resume"]
	path = src/themes/hugo-resume
	url = https://github.com/eddiewebb/hugo-resume.git
	fetchRecurseSubmodules = true
	branch = master
	update = rebase
	shallow = true
	active = true
